.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 22px;
    padding: 20px;
    color: #585858;
}

.main .nav img {
    width: 40px;
    border-radius: 50%;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.greet {
    margin: 30px 0;
    font-size: 46px;
    color: #c4c7c5;
    font-weight: 500;
    padding: 20px;
}

.greet span {
    background: -webkit-linear-gradient(16deg,#4690ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.card {
    height: 180px;
    padding: 15px;
    background-color: #f0f4f9;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}

.card:hover {
    background-color: #dfe4ea;
}

.card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    border-radius: 20px;
}

.card p {
    font-size: 18px;
    color: #585858;
}

.main-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 900px;
    margin: auto;
    padding: 0 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #f0f4f9;
    border-radius: 30px;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.search-box img {
    width: 25px;
    cursor: pointer;
}

.search-box input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #585858;
}

.search-box div {
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.bottom-info {
    font-size: 13px;
    margin: 15px auto;
    color: #a0a0a0;
    text-align: center;

}

.result {
    max-height: 70vh;
    padding: 0 5%;
    overflow-y: scroll;
}

.result::-webkit-scrollbar {
    display: none;
}


.result-title, .result-data {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin: 40px 0
}

.result-data {
    margin: 0;
}

.result img {
    width: 40px;
    border-radius: 50%;
}

.result p {
    font-size: 17px;
    color: #585858;
    line-height: 1.6;
}

.loader {
    text-align: left;
    color: #f0f4f9;
}

@media screen and (max-width: 600px) {
    .main-bottom input {
        flex: none;
        width: 150px;
    }

    .main-bottom img {
        width: 20px;
    }

    .search-box {
        padding: 5px 10px;
    }

    .search-box div {
        padding: 5px;
    }
}